// ===========================
// Pipeline parameters
// ===========================

params {
    pipeline_version = "1.0.0"
    pipeline_name    = "swgs-ichorCNA"
    // update the meta file below
    sample_info     = "/mnt/storageBig8/resources/testdata/WGS/aligned_data/sample_info_extended_test.csv"
    downsampling_rate   = 0.4

    bam_dir         = "/mnt/storageBig8/resources/testdata/ctDNA"
    // set up project dir after pulling git
    proj_dir        = "/mnt/storageBig8/work/nguyenma/projects/pipelines/"
    pon_file        = "${params.proj_dir}/ctdna-cnv-calling/assets/bdna_hg38_wgs_downsample_1M_median_PoN.rds"
    gc_map_file     = "${params.proj_dir}/ctdna-cnv-calling/assets/gcmap_1Mb.intervals"
    centromere_file = "${params.proj_dir}/ctdna-cnv-calling/assets/GRCh38_centromere_acen.txt"
    interval_file   = "${params.proj_dir}/ctdna-cnv-calling/assets/interval_1Mb.intervals"
    out_dir         = "results"

    // folder contain scripts
    bin_dir = "${params.proj_dir}/ctdna-cnv-calling/bin/"
    
    // ichorCNA options
    //chrs                  = "c(1:22,'X')"
    //chrTrain              = "c(1:22)"
    //chrNormalize          = "c(1:22,'X')"
    normal                  = "seq(0.9,1,by=.01)"
    mapscore                = 0.9
}

// ===========================
// Executor configuration
// ===========================

executor {
    name = 'slurm'
    queueSize = 60
}

process {
    // please adjust memory and cpus if the depth of coverage is deeper
    withName: 'fragment_distribution' {
        memory = '8GB'
        cpus = 2
        time = '2h'
    }

    // default for other processes
    executor = 'slurm'
    queue = 'general'
    errorStrategy = 'finish'
    memory = '4G'
    cpus = 1
    time = '2h'
}
