// ===========================
// Pipeline parameters
// ===========================

params {
    pipeline_version = "1.0.0"
    pipeline_name    = "swgs-ichorCNA"
    sample_info     = "/mnt/storageBig8/resources/testdata/WGS/aligned_data/sample_info_extended_test.csv"
    // "/mnt/storageBig8/work/nguyenma/projects/pipelines/ctdna-cnv-calling/assets/test_pon.tsv"
    downsampling_rate   = 0.2
    //bam_dir         = "/mnt/storageBig8/work/nguyenma/ctDNA"
    pon_method      = "median"
    pon_group       = "BDNA"
    gc_map_file     = "/mnt/storageBig8/work/nguyenma/projects/pipelines/ctdna-cnv-calling/assets/gcmap_1Mb.intervals"
    centromere_file = "/mnt/storageBig8/work/nguyenma/projects/pipelines/ctdna-cnv-calling/assets/GRCh38_centromere_acen.txt"
    interval_file   = "/mnt/storageBig8/work/nguyenma/projects/pipelines/ctdna-cnv-calling/assets/interval_1Mb.intervals"
    out_dir         = "results"

    // folder contain scripts
    bin_dir = "${projectDir}/../bin"
    
    // ichorCNA options
    chrs                  = "c(1:22,'X')"
    chrTrain              = "c(1:22)"
    chrNormalize          = "c(1:22,'X')"
    normal                = "seq(0.9,1,by=.01)"
    ploidy                = "c(2,3,4)"
    maxCN                 = 6
    minTumFracToCorrect   = 0.03
    estimateScPrevalence  = false
    lambdaScaleHyperParam = 3
    map_thresh            = 0.9
}

// ===========================
// Executor configuration
// ===========================

executor {
    name = 'slurm'
    queueSize = 60
}

process {

    withName: 'DOWNSAMPLE_AND_COVERAGE' {
        memory = '16GB'
        cpus = 4
        time = '2h'
    }

    // default for all other processes
    executor = 'slurm'
    queue = 'general'
    errorStrategy = 'finish'
    memory = '1G'
    cpus = 4
    time = '2h'
}
